name: 'examplemicroservices'
services:
  gateway:
    extends:
      file: 'services/gateway.yml'
      service: 'gateway'
  postsDb:
    extends:
      file: 'services/posts.yml'
      service: 'postsDb'
  commentsDb:
    extends:
      file: 'services/comments.yml'
      service: 'commentsDb'
  posts:
    extends:
      file: 'services/posts.yml'
      service: 'posts'
  comments:
    extends:
      file: 'services/comments.yml'
      service: 'comments'