services:
  gateway:
    image: 'gateway'
    pull_policy: 'build'
    container_name: 'gateway'
    build:
      context: '../../src'
      dockerfile: 'Core/Core.GatewayAPI/Dockerfile'
    depends_on:
      posts:
        condition: service_started
      comments:
        condition: service_started
    environment:
      TZ: 'Europe/Warsaw'
    ports:
      - '5000:5000'
    restart: 'unless-stopped'