services:
  postsDb:
    image: 'mcr.microsoft.com/mssql/server:2022-latest'
    container_name: 'postsDb'
    environment:
      TZ: 'Europe/Warsaw'
      ACCEPT_EULA: 'Y'
      MSSQL_SA_PASSWORD: 'Example123password'
      MSSQL_PID: 'Express'
    ports:
      - '5101:1433'
    restart: 'unless-stopped'
  posts:
    image: 'posts'
    pull_policy: 'build'
    container_name: 'posts'
    build:
      context: '../../src'
      dockerfile: 'Services/Posts/Posts.WebAPI/Dockerfile'
    depends_on:
      postsDb:
        condition: service_started
    environment:
      TZ: 'Europe/Warsaw'
    ports:
      - '5001:5001'
    restart: 'unless-stopped'